@import "../../../assets/scss/variables.scss";

.home-top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .filter-container {
    display: flex;
    gap: 0.5rem;

    .search-input-container {
      display: flex;
      width: 23.75rem;

      .search-input {
        border: none;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding: 0.65rem 1rem;
        width: 100%;
        &:focus-visible {
          outline: none;
        }
      }

      .search-input-suffix {
        background-color: $primary-color;
        color: $white;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 0.65rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .filter-button {
      color: $primary-color;
      background-color: $white;
      border-radius: 50%;
      padding: 0.65rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .add-new-account-button {
    color: $white;
    background-color: $primary-color;
    border: none;
    border-radius: 2rem;
    padding: 0.65rem 1rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

.home-data-table-container {
  height: calc(100% - 2.625rem);
}

@media (max-width: $medium-breakpoint) {
  .home-top-bar-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .filter-container {
      width: 100%;
      .search-input-container {
        width: 100%;

        .search-input {
          width: 100%;
        }
      }
    }

    .add-new-account-button {
      width: 100%;
    }
  }

  .home-data-table-container {
    height: calc(100% - 5rem);
  }
}

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row > td,
.dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
  vertical-align: middle;
  height: 65px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left !important;
  padding-left: 2rem;
  color: $black;
}

::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  padding-left: 2rem;
  color: $black;
}

::ng-deep .dx-datagrid-rowsview .dx-row {
  &:hover {
    box-shadow: 0px 1px 15px 0px #0000001c;
  }
}

::ng-deep .dx-datagrid-pager {
  border-top: 0;
}

::ng-deep .dx-datagrid-borders > .dx-datagrid-headers {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

::ng-deep .dx-datagrid-borders > .dx-datagrid-rowsview,
.dx-datagrid-borders > .dx-datagrid-total-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

::ng-deep .dx-datagrid .dx-column-indicators {
  float: right !important;
  color: $primary-color;
}

::ng-deep .dx-datagrid .dx-row-alt > td,
.dx-datagrid .dx-row-alt > tr > td {
  background-color: $ghost-white;
}

::ng-deep .dx-navigate-button {
  color: $primary-color;
}
